<div class="app-container">
  <div class="container">
   <div class="input-area">
    <input type="text" placeholder="Nueva tarea..." class="task-input" [(ngModel)]="nuevaTarea"
     (keyup.enter)="agregarTarea()">
    <button class="add-button" (click)="agregarTarea()">Agregar</button>
   </div>

   <div class="title">
    <h2>{{ titulo }}</h2>
   </div>

   <div *ngFor="let tarea of tareas" class="task-container">
    <div class="task-description">
     <p>{{ tarea.title }}</p>
    </div>
    <div class="task-actions">
     <button class="edit-button">Editar</button>
     <button class="delete-button">Eliminar</button>
    </div>
   </div>
  </div>
 </div>
